*
{
	margin: 0;
	padding: 0;
}

html { font-size: 9pt; }

body
{
	z-index: 0;
	position: relative;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 100%;
	line-height: 1.2em;
	background-color: #ffffff;
}

a, a:visited, a:hover, a:active
{
	text-decoration: none;
	color: #000000;
}

ul, li { list-style: none; }
:focus { -moz-outline-style: none; }
a { outline: none; }

/**************************************************************************************************/
.Core,
.Padding,
.PixelBoxWrapper, .PixelBox, .PixelBoxContainer,
.InfoBox, .Grid,
ul, li
{
	position: relative;
	float: left;
	display: inline;
}

/**************************************************************************************************/
.Grid .PixelBox
{
	height: 2.625em;
	width: 2.625em;

	background-color: transparent;
}

.Grid .PixelBox p
{
	font-size: 80%;
	padding: 0;
	margin: 0;
}

/**************************************************************************************************/
.PMS .Grid .PixelBox
{
	width: 15.75em;
	height: 5em;
	margin: 0;
}

.PMS .Grid .PixelBox .Padding { padding: 10px 0 0 10px; }

/**************************************************************************************************/
.light p,
.light p a, .Core .light p a:visited,
.light p a:hover, .Core .light p a:active { color: #ffffff; }
.dark p,
.dark p a, .Core .dark p a:visited,
.dark p a:hover, .Core .dark p a:active { color: #000000; }
