/**************************************************************************************************/
.Wrapper,
.Grid {
	width: 1080px;
}

/**************************************************************************************************/
.RGB .PixelBox
{
	height: 30px;
	width: 30px;
	margin: 0;
	padding: 0;
	border: 0;
	background-color: transparent;
}

/**************************************************************************************************/
.PMS .PixelBox
{
	width: 180px;
	height: 40px;
	margin: 0;
}
