# Set the default character set.
AddDefaultCharset UTF-8

# Set the options.
Options +FollowSymlinks

# Enable the rewrite engine.
RewriteEngine on

# Only rewrite if the directory or file doesn’t exist on the system.
RewriteCond   %{REQUEST_FILENAME} !-d [NC]
RewriteCond   %{REQUEST_FILENAME} !-f [NC]

# Ignore these base directories.
RewriteRule   ^(clients|art|projects|css|favicons|script)($|/) - [L]
# RewriteCond %{REQUEST_URI} !^(clients/.*)$ [NC]

# This redirects any call to this directory to an index file with $_GET parameters.
# The 'parent=$1&child=$2&grandchild=$3&greatgrandchild=$4' passes the pathname as an HTML param called 'parent', 'child', 'grandchild' and 'greatgrandchild'.
# RewriteRule    ^([A-Za-z0-9-_,\s]+)/([A-Za-z0-9-_,\s]+)/([A-Za-z0-9-_,\s]+)/([A-Za-z0-9-_,\s]+)/?$    index.php?parent=$1&child=$2&grandchild=$3&greatgrandchild=$4 [L,QSA]
# RewriteRule    ^([A-Za-z0-9-_,\s]+)/([A-Za-z0-9-_,\s]+)/([A-Za-z0-9-_,\s]+)/?$    index.php?parent=$1&child=$2&grandchild=$3 [L,QSA]
# RewriteRule    ^([A-Za-z0-9-_,\s]+)/([A-Za-z0-9-_,\s]+)/?$    index.php?parent=$1&child=$2 [L,QSA]
# RewriteRule    ^([A-Za-z0-9-_,\s]+)/?$    index.php?parent=$1 [QSA]
# The 'colorspace=$1&value=$2' passes the pathname as an HTML param called 'colorspace' & 'value'.
RewriteRule    ^([A-Za-z0-9-_,\s]+)/([A-Za-z0-9-_,\s]+)/?$    index.php?colorspace=$1&value=$2 [L,QSA]

# This setup allows us to have files or directoires on the root of the site without conflicting with rewrite rules.
# RewriteRule    ^([A-Za-z0-9-_,\s]+)/?$    index.php?parent=$1 [L]
RewriteRule    ^([A-Za-z0-9-_]+)/?$    index.php?colorspace=$1 [L]
